Repository dimaslanjaka/ocr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.js, prettier --list-different --write, black

fix(build.py): update Python command paths to use 'ppy' and 'ppy.cmd'
  bin/build.py
Due: black

fix(build.py): update Nuitka build command to use cli.py instead of focus_pytesseract.py
  bin/build.py
Due: black

chore(page-dewarp): remove deprecated files and clean up package structure
  packages/page-dewarp/.gitignore
  packages/page-dewarp/LICENSE.txt
  packages/page-dewarp/README.md
  packages/page-dewarp/derive_cubic.py
  packages/page-dewarp/example_input/boston_cooking_a.jpg
  packages/page-dewarp/example_input/boston_cooking_b.jpg
  packages/page-dewarp/example_input/linguistics_thesis_a.jpg
  packages/page-dewarp/example_input/linguistics_thesis_b.jpg
  packages/page-dewarp/page_dewarp.py
  packages/page-dewarp/requirements.txt
Due: black

feat(ocr-web): add image upload and OCR processing functionality with drag-and-drop support
  public/ocr-web.html
  src/public/ocr-web.js
Due: eslint --fix --config eslint.config.js

fix(clean.js): remove 'public/js' directory if it exists during cleanup
  bin/clean.js
Due: eslint --fix --config eslint.config.js

feat(ocr-web): add live camera OCR functionality with video capture and processing
  public/ocr-web-live.html
  src/public/ocr-web-live.js
  src/public/ocr-web-live.scss
Due: eslint --fix --config eslint.config.js, prettier --list-different --write

feat(build): enhance build process with SCSS compilation and improved module handling
  .gitignore
  .yarnrc.yml
  build-public.js
  package.json
Due: eslint --fix --config eslint.config.js, prettier --list-different --write

feat(example): add multiple OCR example pages with enhanced functionality and UI
  public/example/basic-scheduler.html
  public/example/basic.html
  public/example/index.html
  public/example/pre-process.html
Due: none

feat(github-actions): add workflow for building and deploying to GitHub Pages
  .github/workflows/gh-pages.yml
Due: prettier --list-different --write

fix(gh-pages): add cache-dependency-path for improved Yarn caching
  .github/workflows/gh-pages.yml
Due: prettier --list-different --write

feat(gh-pages): add caching for build outputs to improve workflow efficiency
  .github/workflows/gh-pages.yml
Due: prettier --list-different --write

fix(gh-pages): update artifact name for clarity in upload and download steps
  .github/workflows/gh-pages.yml
Due: prettier --list-different --write

fix(gh-pages): use symbolic link option when copying tesseract.js libs to avoid issues with file paths
  .github/workflows/gh-pages.yml
Due: prettier --list-different --write

fix(gh-pages): remove unnecessary step for copying tesseract.js libs to public directory
  .github/workflows/gh-pages.yml
Due: prettier --list-different --write

feat(gh-pages): add checks for symlinks and directory size in public folder
  .github/workflows/gh-pages.yml
Due: prettier --list-different --write

ci(gh-pages): simplify workflow by merging build and deploy jobs
  .github/workflows/gh-pages.yml
Due: prettier --list-different --write

feat(instructions): add comprehensive guidelines for Python coding standards, structure, dependencies, testing, documentation, version control, and code review
  .github/instructions/all.instructions.md
  .github/instructions/nodejs.instructions.md
  .github/instructions/python.instructions.md
Due: none

feat(workflows): add workflows for cleaning GitHub Actions cache and logs
  .github/workflows/clean-caches.yml
  .github/workflows/clean-logs.yml
Due: prettier --list-different --write

feat(dependabot): add configuration for managing dependencies across multiple ecosystems
  .github/dependabot.yml
Due: prettier --list-different --write

fix(tsconfig): streamline typeRoots and include patterns for clarity
  tsconfig.json
Due: prettier --list-different --write

chore(instructions): remove redundant backup guidelines from file management instructions
  .github/instructions/all.instructions.md
Due: none

feat(meta): add Open Graph meta tags and descriptions for improved SEO across multiple HTML files
  public/camera.html
  public/collect.html
  public/example/basic-scheduler.html
  public/example/basic.html
  public/example/index.html
  public/example/pre-process.html
  public/index.html
  public/live.html
  public/ocr-web-live.html
  public/ocr-web.html
  public/upload.html
  public/url.html
Due: none

feat(url): implement getBaseUrl function for dynamic API endpoint configuration; update fetch calls across multiple files
  src/public/camera.js
  src/public/collect.js
  src/public/index.js
  src/public/live.js
  src/public/upload.js
  src/public/url.js
  src/utils/url.js
Due: eslint --fix --config eslint.config.js

feat(fixtures): add multiple image files for testing purposes
  test/fixtures/WhatsApp Image 2025-08-07 at 5.28.45 PM.jpeg
  test/fixtures/WhatsApp Image 2025-08-07 at 5.28.57 PM.jpeg
  test/fixtures/WhatsApp Image 2025-08-07 at 5.29.04 PM.jpeg
  test/fixtures/WhatsApp Image 2025-08-07 at 5.29.10 PM.jpeg
  test/fixtures/WhatsApp Image 2025-08-07 at 5.29.15 PM.jpeg
  test/fixtures/WhatsApp Image 2025-08-07 at 5.29.22 PM.jpeg
  test/fixtures/WhatsApp Image 2025-08-07 at 5.29.29 PM.jpeg
  test/fixtures/WhatsApp Image 2025-08-07 at 5.29.34 PM.jpeg
  test/fixtures/voucher-1.jpeg
  test/fixtures/voucher-2.jpeg
  test/fixtures/vouchers.jpeg
Due: none

chore(.gitignore): add *.bak to ignore backup files
  .gitignore
Due: none

refactor(routes): mount upload route under /upload and update result polling paths
  index.js
  src/public/camera.js
  src/public/index.js
  src/public/upload.js
  src/public/url.js
  src/routes/upload.js
Due: eslint --fix --config eslint.config.js

feat(ocr): enhance Tesseract OCR with processed image variants and rotation support
  src/ocr/tesseract.js
Due: eslint --fix --config eslint.config.js

feat(user): add getUniqueUserId function to generate unique user IDs based on user-agent and IP address
  src/utils/express-utils.js
Due: eslint --fix --config eslint.config.js

Path conditions:
  eslint --fix --config eslint.config.js: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  black: any of: *.py
